$large-screen-size: 1200px;
$medium-screen-size: 990px;
$small-screen-size: 600px;

body {
  /******* GENERAL *******/

  .ifotta-margin-top-negative-6-25em {
    margin-top: -6.25em;
  }
  .ifotta-margin-top-negative--5em {
    margin-top: -.5em;
  }
  .ifotta-block {
    display: block;
  }
  .ifotta-left {
    text-align: left;
  }

  /******* HOME-HEADER *********/

  .ifotta-white-logo-large {
    width: 600px;
    height: 300px;
  }
  .ifotta-homeheader-text {
    padding-left: 4em;
    font-weight: 1px;
    font-size: 25px;
  }
  .ifotta-homeheader-button-wrapper {
    margin-left: 6em;
    margin-top: -3em;
  }

  ////////// IFOTTA YELLOW BUTTON ///////////
  .ifotta-btn-yellow {
    background-color: #FECB3F;
    border-color: #FECB3F;
    color: #fff;
  }

  .ifotta-btn-yellow:hover {
    background-color: #FECB3F;
    border-color: #FECB3F;
    color: #AAA;
  }
  
  .ifotta-btn-yellow:hover {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .ifotta-btn-yellow:focus, .ifotta-btn-yellow.focus {
    color: #fff;
  }
  
  .ifotta-btn-yellow.disabled, .ifotta-btn-yellow:disabled {
    background-color: #FECB3F;
    border-color: #FECB3F;
    opacity: 0.5;
  }
  
  .ifotta-btn-yellow:active, .ifotta-btn-yellow.active,
  .show > .ifotta-btn-yellow.dropdown-toggle {
    background-color: #FECB3F;
    border-color: #FECB3F;
    color: #fff;
  }
  
  .btn-outline.ifotta-btn-yellow {
    color: #FECB3F;
    background-color: transparent;
    border-color: #FECB3F;
  }

  .btn-outline.ifotta-btn-yellow {
    color: #fff;
    background-color: #FECB3F;
    border-color: #FECB3F;
  }

  .btn-outline.ifotta-btn-yellow:hover {
    color: #AAA;
    background-color: #FECB3F;
    border-color: #FECB3F;
  }
  
  .btn-outline.ifotta-btn-yellow:active, .btn-outline.ifotta-btn-yellow.active,
  .show > .btn-outline.ifotta-btn-yellow.dropdown-toggle {
    background-color: #FECB3F;
    border-color: #FECB3F;
  }

  //////////// IFOTTA YELLOW BUTTON ENDS //////////

  /******* NAVBAR *******/

  .topbar .nav-submenu{
    background-color: transparent;
  }
  
  .topbar .nav-submenu .nav-link{
    color: white;
  }
  
  /**** Form Components ****/
  .dialog-form-body {
    text-align: left;
    width: 100%;
    overflow-y: auto;
    padding: 5em;
  }
  .hire-dialog-title {
    background-color: #1F88C1;
    text-align: center;
  }
  .ifotta-blue-btn {
    background: #1F88C1;
  }
  .ifotta-yellow-btn {
    background: #FECA40;
  }
  .ifotta-yellow-btn:hover {
    background: #F7C035;
  }
}