$large-screen-size: 1200px;
$medium-screen-size: 990px;
$small-screen-size: 600px;

body {
  /******* GENERAL *******/
  .buttons {
    margin: 1em;
  }
  .ifotta-white-text {
    color: white !important;
  }

  /*********SERVICE STYLE********/
  .services-margin-1  {
    @media screen and (max-width: $large-screen-size) and (min-width: $medium-screen-size) {
      margin-left: 8em;
      margin-right: 8em;
    }
  }
   .service-content-text {
     color: black !important;
     background-color: white;
     border-radius: .5em;
     padding: 1.5em;
    }

  /**** Grid Components ****/
  .banner-grid {
    padding-top: 5em;
    height: 450;
  }
  .footer-grid {
    padding: 5em 0 10em 0;
  }
  .grid-list {
    text-align: center;
    width: 100%;
    overflow-y: auto;
  }
  .service-small-grid-screen {
    display: none;
    @media screen and (max-width: $small-screen-size) {
      display: block !important;
    }
  }
  .service-large-grid-screen {
    @media screen and (max-width: $small-screen-size) {
      display: none !important;
    }
  }

  /**** Form Components ****/
  .dialog-form-body {
    text-align: left;
    width: 100%;
    overflow-y: auto;
    padding: 5em;
  }
  .hire-dialog-title {
    background-color: #1F88C1;
    text-align: center;
  }
  .ifotta-blue-btn {
    background: #1F88C1;
  }
  .ifotta-yellow-btn {
    background: #FECA40;
  }
  .ifotta-yellow-btn:hover {
    background: #F7C035;
  }
  /******************/
  .logo {
    width: 20em;
  }
  .root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
  .service-details {
    padding: 8em;
    height: 500px;
    @media screen and (max-width: $medium-screen-size) {
      padding: 4em;
    }
    @media screen and (max-width: $small-screen-size) {
      padding: 2em;
    }
  }
  .service-images {
    width: 100%;
    height: 100%;
  }
  .service-item {
    height: 500px;
  }
  .white-link {
    text-decoration: none !important;
    color: white !important;
  }
}
